<div class="grid-container">
  <header class="header">
    <div class="menu-icon" (click)="openSideBar()">
      <span class="material-icons-outlined">menu</span>
    </div>
    <div class="header-right">
      <span class="material-icons-outlined">notifications</span>
      <span class="material-icons-outlined">email</span>
      <span class="material-icons-outlined">account_circle</span>
    </div>
  </header>
  <aside id="sidebar" [ngClass]="{'sidebar-responsive':this.isSideBarOpen}">
    <app-sidenav (sidebarStatus)="recieveSideBarStatus($event)" [@fadeInOut]="isSideBarOpen ? 'in' : 'out'"></app-sidenav>
  </aside>
  <main class="main-container">
    <router-outlet></router-outlet>>
  </main>
</div>
